<%- include('layouts/header') %>
    <div class="container">
        <h1>this is test mongoDB database system.</h1>
        <h4> By kaleab d.</h4>
    </div>
    <style>
        .container {
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    </style>
    <%- include('layouts/footer')%>